*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    color: #222;
    font-family: Verdana;


}

body{
    padding: 3rem;
    background-color: burlywood;
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    padding: 0.5rem;
    text-align: center;


}
h3 {font-size: 1rem;
    text-transform: uppercase;
    color:burlywood;
    margin-top: 1rem;
    padding-left: 1rem;
    
}

p{ 
    line-height: 1rem;
    padding-left: 1rem;

}

section + section {
    margin-top: 2rem;
}


a{
    text-decoration: none;
    color: inherit ;
}

ul{
    list-style: none;
    line-height: 1rem;
}
.profile{
    text-align: center;
}

.profile img{
    border-radius: 9999px;
    width: 15rem;
    height: 15rem;
}

.profile p{
    color: #888;
    margin-bottom: 1rem;
    font-size: 1.25rem;
}



.contact li{
    text-align: right;
    text-transform: uppercase;
    padding: 0.5rem;
    color: #888;
    border-bottom: 1px solid #888 ;
    text-align: center;
}
.skills >ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
.timeline .event + .event{
    padding-top: 1rem;
    text-align: right;
}
.event{
    display: grid;
    grid-template-columns: 7ch 1fr;
    margin-top: 1rem;
    text-align:right;
}
.content{
    margin-top: -1rem;
    border-left: 1px solid burlywood;
    padding-right: 1rem;
    text-align: left;
}

.resumepage{
    background-color: white;
    margin:1rem;
    padding: 1rem;
}

.zuri {
    text-align: center;
}

.story{
    text-align: center;
    padding-bottom: 2rem;
}